<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.upcomings.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Upcomings Beta</name>
    <description>
        Upcomings.ca - Find out what is going on near you!
    </description>
    <author email="upcomings.moncton@gmail.com" href="http://www.upcomings.ca">
        Upcomings.ca Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="http://www.upcomings.ca" subdomains="true"/>
    <preference name="orientation" value="portrait" />
</widget>
